{% extends 'base.html.twig' %}
{% block body %}
    <h1 style="text-align: center">Todos los productos</h1>
    <div class="row" style="padding: 20px;">
        {% for product in products %}
            <div class="col-sm-6 col-md-4 product-card" style="margin-bottom: 20px;" data-category="{{ product.category.getName() }}">
                <div class="thumbnail">
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                    <div class="caption">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.category.getName() }}</p>
                        {# Puedes mostrar más detalles del producto aquí si lo deseas #}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
